.text{
	-fx-text-fill: white;
}

.background-pane{
	-fx-background-image: url(@../../../../../resources/BackgroundImage02.jpg);
	-fx-background-size: 100% 100%;
}

.log-tile {
	-fx-background-color: rgba(255, 255, 255, .8);
}

.jfx-text-field,.jfx-password-field {
	-jfx-focus-color: #ff5722;
}

.rounded-button {
	-fx-border-radius: 30em;
	-fx-background-radius: 30em;
}

.back-button-background {
	-fx-border-radius: 30em;
	-fx-background-radius: 30em;
	-fx-background-color: rgba(0, 0, 0, .1);
}

#login-button {
	-fx-background-color: rgba(255, 255, 255, .8);
}

#notification-bar{
	-fx-background-color: transparent;
}

#notification-bar .label{
	-fx-text-fill: white;
}