.text{
	-fx-text-fill: white;
}

.background-pane{
	-fx-background-image: url(@../../../../../resources/BackgroundImage02.jpg);
	-fx-background-size: 100% 100%;
}

#notification-bar{
	-fx-background-color: transparent;
}

#notification-bar .label{
	-fx-text-fill: white;
}