.backgroundPane{
	-fx-background-image: url(@../../../../../resources/BackgroundImage03.jpg);
	-fx-background-size: 100% 100%;
}

.utilityBar{
	-fx-border-radius: 10 10 10 10;
	-fx-background-color: #ffffff;
}